html {
  font-size: 20px;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

.blue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  line-height: 1.2;
  border-bottom: solid 3px rgb(115, 115, 114);
  text-shadow: 4px 5px 6px gray;
}

#basic p {
  font-weight: bolder;
}
